.mobile-nav
    .mobile-nav__sidebar
        .mobile-nav__inner
            nav.mobile-nav-menu
                ul.mobile-nav-menu__list
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Головна
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Послуги
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Продукція
                    
                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Про компанію

                    li.mobile-nav-menu__item
                        a.mobile-nav-menu__link(href="#") Контакти
            
            .mobile-nav__bottom
                button.button.mobile-nav__button(type="button" data-modal="modal-callback") Залишити заявку
