section.about-section.about-section--inner
    .container.container--fluid.about-section__container
        header.section-header.about-section__header
            nav.breadcrumbs.section-header__breadcrumbs.animation-down(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                        
                    li.breadcrumbs__item(aria-current="page") Про компанію
        
            h1.section-header__title.animation-down(data-delay="0.4") Про компанію

        .about-section__inner
            .about-section__row
                picture.about-section__picture.animation-fade
                    img.about-section__img(src="img/about-img.webp" srcset="img/about-img@2x.webp 2x" loading="lazy" width="926" height="550" alt="alt")

                .about-section__content
                    .caption.caption--black.animation-title.about-section__caption
                        .caption__inner
                            .caption__bg-text Про компанію
                            h2.caption__title Про компанію
                    
                    .about-section__text.animation-down
                        p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем. Наша мета – допомогти клієнтам перейти на відновлювані джерела енергії, забезпечуючи високий рівень сервісу та підтримки на кожному етапі взаємодії. В основі нашої роботи лежать чотири ключові напрями: продаж обладнання, встановлення, обслуговування та підтримка клієнтів.
                    
            .swiper.about-slider
                .swiper-wrapper.about-slider__wrapper
                    .swiper-slide.about-slider__slide.animation-fade
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="54" height="60")
                                        use(xlink:href="img/sprite.svg#about-1")
                                
                                h3.about-card__title Інноваційні технології
                                p.about-card__text У нас ви знайдете найпередовіші рішення для вашого будинку чи бізнесу, що забезпечують ефективність та надійність.
                    
                    .swiper-slide.about-slider__slide.animation-fade(data-delay="0.2")
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="60" height="60")
                                        use(xlink:href="img/sprite.svg#about-2")

                                h3.about-card__title Широкий вибір
                                p.about-card__text Наш асортимент включає різноманітні альтернативні джерела енергії, які готові задовольнити будь-які вимоги клієнтів.
                    
                    .swiper-slide.about-slider__slide.animation-fade(data-delay="0.4")
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="52" height="60")
                                        use(xlink:href="img/sprite.svg#about-3")

                                h3.about-card__title Якість та гарантія
                                p.about-card__text Ми впевнені у надійності нашого обладнання, тому надаємо довгострокову гарантію на кожну одиницю.
                    
                    .swiper-slide.about-slider__slide.animation-fade
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="60" height="60")
                                        use(xlink:href="img/sprite.svg#about-4")

                                h3.about-card__title Індивідуальний підхід
                                p.about-card__text Кожен клієнт отримує персоналізований підхід та консультації від наших експертів для оптимального вибору обладнання.
                    
                    .swiper-slide.about-slider__slide.animation-fade(data-delay="0.2")
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="50" height="60")
                                        use(xlink:href="img/sprite.svg#about-5")

                                h3.about-card__title Сучасне обладнання
                                p.about-card__text Ваше обладнання буде встановлене за допомогою передових методів, що забезпечують оптимальну ефективність.
                    
                    .swiper-slide.about-slider__slide.animation-fade(data-delay="0.4")
                        article.about-card
                            .about-card__content
                                .about-card__pic
                                    svg.about-card__icon(width="58" height="58")
                                        use(xlink:href="img/sprite.svg#about-6")

                                h3.about-card__title Безпека та надійність
                                p.about-card__text Ваші інтереси та безпека на першому місці – кожна деталь установки контролюється та перевіряється нашими експертами.

                .swiper-scrollbar.about-slider__scrollbar