section.documents-section
    .container
        .caption.animation-title.documents-section__caption
            .caption__inner
                .caption__bg-text Сертифікати
                h2.caption__title Сертифікати

        .swiper.documents-slider
            .swiper-wrapper.documents-slider__wrapper
                .swiper-slide.documents-slider__slide.animation-fade(data-delay="0")
                    a.documents-slider__link(href="img/documents/doc-1@2x.webp" data-pswp-width="696" data-pswp-height="974")
                        picture.documents-slider__picture
                            img.documents-slider__img(src="img/documents/doc-1.webp" srcset="img/documents/doc-1@2x.webp 2x" loading="lazy" width="348" height="487" alt="alt")
                
                .swiper-slide.documents-slider__slide.animation-fade(data-delay="0.2")
                    a.documents-slider__link(href="img/documents/doc-1@2x.webp" data-pswp-width="696" data-pswp-height="974")
                        picture.documents-slider__picture
                            img.documents-slider__img(src="img/documents/doc-1.webp" srcset="img/documents/doc-1@2x.webp 2x" loading="lazy" width="348" height="487" alt="alt")
                
                .swiper-slide.documents-slider__slide.animation-fade(data-delay="0.4")
                    a.documents-slider__link(href="img/documents/doc-1@2x.webp" data-pswp-width="696" data-pswp-height="974")
                        picture.documents-slider__picture
                            img.documents-slider__img(src="img/documents/doc-1.webp" srcset="img/documents/doc-1@2x.webp 2x" loading="lazy" width="348" height="487" alt="alt")

            button.swiper-nav-prev.documents-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.documents-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-scrollbar.documents-slider__scrollbar
