section.faq-section
    .container.faq-section__container
        .caption.animation-title.contacts-section__caption
            .caption__inner
                .caption__bg-text Часті питання
                h2.caption__title Часті питання

        ul.faq-section__list
            li.faq-section__item.animation-fade
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-1
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-1" aria-controls="faq-card-content-1") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-1(role="region" aria-labelledby="faq-card-header-1" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-2
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-2" aria-controls="faq-card-content-2") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-2(role="region" aria-labelledby="faq-card-header-2" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.

                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-3
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-3" aria-controls="faq-card-content-3") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-3(role="region" aria-labelledby="faq-card-header-3" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-4
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-4" aria-controls="faq-card-content-4") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-4(role="region" aria-labelledby="faq-card-header-4" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-5
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-5" aria-controls="faq-card-content-5") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-5(role="region" aria-labelledby="faq-card-header-5" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-6
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-6" aria-controls="faq-card-content-6") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-6(role="region" aria-labelledby="faq-card-header-6" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.

            li.faq-section__item.animation-fade
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-7
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-7" aria-controls="faq-card-content-7") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-7(role="region" aria-labelledby="faq-card-header-7" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-8
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-8" aria-controls="faq-card-content-8") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-8(role="region" aria-labelledby="faq-card-header-8" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.

                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-9
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-9" aria-controls="faq-card-content-9") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-9(role="region" aria-labelledby="faq-card-header-9" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-10
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-10" aria-controls="faq-card-content-10") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-10(role="region" aria-labelledby="faq-card-header-10" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-11
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-11" aria-controls="faq-card-content-11") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-11(role="region" aria-labelledby="faq-card-header-11" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
            
                article.faq-card
                    .faq-card__panel
                        h3.faq-card__header#faq-card-header-12
                            button.faq-card__trigger(aria-expanded="false" data-trigger="faq-card-content-12" aria-controls="faq-card-content-12") Ми пропонуємо індивідуальний підхід до кожного клієнта?
                                svg.faq-card__arrow(width="19" height="11")
                                    use(xlink:href="img/sprite.svg#dropdown-arrow")

                        .faq-card__content#faq-card-content-12(role="region" aria-labelledby="faq-card-header-12" aria-hidden="true")
                            .faq-card__inner
                                .faq-card__text
                                    p В основі автоматичної автомийки лежить гідравлічне обладнання, яке подає воду під тиском через пістолет. Струмінь води збиває бруд, а супутнє обладнання забезпечує якісне очищення поверхні автомобіля і внутрішніх елементів від бруду. Мийка самообслуговування розташована під спеціальним легким накриттям каркас-навіс, він же розділений на пости. Кожен пост розрахований на один автомобіль, який заганяється всередину для очищення. При цьому водієві доступні всі інструменти для очищення кузова і внутрішніх елементів салону, а оплата проводиться за час, проведений на мийці самообслуговування.
