section.history-section
    .container
        .caption.animation-title.history-section__caption
            .caption__inner
                .caption__bg-text Історія
                h2.caption__title Історія

        .swiper.history-slider
            .swiper-wrapper.history-slider__wrapper
                .swiper-slide.history-slider__slide.animation-fade(data-delay="0")
                    article.history-card
                        .history-card__header
                            .history-card__year 2008
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.
                
                .swiper-slide.history-slider__slide.animation-fade(data-delay="0.2")
                    article.history-card
                        .history-card__header
                            .history-card__year 2012
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.
                
                .swiper-slide.history-slider__slide.animation-fade(data-delay="0.4")
                    article.history-card
                        .history-card__header
                            .history-card__year 2015
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.
                
                .swiper-slide.history-slider__slide.animation-fade(data-delay="0.6")
                    article.history-card
                        .history-card__header
                            .history-card__year 2017
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.
                
                .swiper-slide.history-slider__slide.animation-fade(data-delay="0.8")
                    article.history-card
                        .history-card__header
                            .history-card__year 2020
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.
                
                .swiper-slide.history-slider__slide.animation-fade(data-delay="1")
                    article.history-card
                        .history-card__header
                            .history-card__year 2023
                        
                        h3.history-card__title Інноваційні технології
                        .history-card__text
                            p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем.

            button.swiper-nav-prev.history-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.history-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-scrollbar.history-slider__scrollbar
