section.info-section
    .container.container--fluid.info-section__container
        header.section-header.info-section__header
            nav.breadcrumbs.section-header__breadcrumbs.animation-down(aria-label="breadcrumb")
                ul.breadcrumbs__list
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Головна
                    li.breadcrumbs__item
                        a.breadcrumbs__link(href="#") Послуги 
                    li.breadcrumbs__item(aria-current="page") Встановлення обладнання
        
            h1.section-header__title.animation-down(data-delay="0.4") Встановлення обладнання

        .info-section__inner
            .info-section__row
                picture.info-section__picture.animation-fade
                    img.info-section__img(src="img/info-img.webp" srcset="img/info-img@2x.webp 2x" loading="lazy" width="926" height="550" alt="alt")

                .info-section__content
                    .caption.caption--black.animation-title.info-section__caption
                        .caption__inner
                            .caption__bg-text Встановлення обладнання
                            h2.caption__title Встановлення обладнання
                    
                    .info-section__text.animation-down
                        p Компанія E-holder надає повний спектр послуг із встановлення обладнання для альтернативних джерел енергії. Ми пропонуємо професійний монтаж сонячних панелей, вітряних генераторів та акумуляторних систем, щоб забезпечити надійну та ефективну роботу вашого енергетичного комплексу. Наші кваліфіковані фахівці мають багаторічний досвід і знання, які дозволяють реалізувати проекти будь-якої складності.

                    button.button.info-section__button.animation-down(type="button" data-modal="modal-callback") Замовити послугу

            h3.info-section__subtitle.animation-fade Наші послуги включають:
            
            ul.info-section__list
                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 1.
                        |  Первинна консультація та оцінка об'єкта:
                    p Перед початком встановлення ми проводимо детальний аналіз об'єкта. Наші експерти оцінюють умови місцевості, рівень інсоляції, вітрову активність та інші параметри, щоб підібрати оптимальне обладнання та розробити індивідуальний проект.

                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 2.
                        |  Розробка проекту:
                    p На основі проведеного аналізу ми створюємо технічний проект, що включає розміщення обладнання, розрахунок потужності, підбір компонентів та схеми підключення. Проектування здійснюється з урахуванням усіх норм та стандартів, що гарантує безпеку та ефективність роботи системи.

                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 3.
                        |  Підготовка та встановлення:
                    p Наші фахівці виконують усі підготовчі роботи, включаючи встановлення монтажних конструкцій, прокладання кабелів та підготовку місця для розміщення обладнання. Установка здійснюється з використанням сучасних інструментів та технологій, що забезпечує високу якість та надійність.
                
                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 4.
                        |  Підключення та налаштування:
                    p Після монтажу обладнання ми проводимо його підключення до електричної мережі, налаштування та тестування. Наші інженери налаштовують всі компоненти системи для досягнення максимальної продуктивності та ефективності.

                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 5.
                        |  Навчання та інструктаж:
                    p Ми надаємо нашим клієнтам повну інформацію щодо експлуатації встановленого обладнання. Наші фахівці проводять інструктаж з використання, обслуговування та моніторингу системи, щоб ви могли впевнено керувати своїм енергетичним комплексом.

                li.info-section__list-item.animation-fade
                    h4
                        span.yellow-color 6.
                        |  Підтримка та сервісне обслуговування:
                    p Ми пропонуємо комплексне сервісне обслуговування, включаючи регулярне технічне обслуговування, діагностику та ремонт обладнання. Наші фахівці завжди готові надати оперативну підтримку і вирішити будь-які питання.
