section.order-section
    .container.container--fluid.order-section__container
        .order-section__inner
            picture.order-section__bg
                img.order-section__bg-img(src="img/order-bg.webp" srcset="img/order-bg@2x.webp 2x" loading="lazy" width="1854" height="474" alt="alt")

            .order-section__row
                .order-section__content.animation-fade
                    h2.order-section__title Хочете якісне 
                        span.yellow-color “Встановлення обладнання”
                        |  для вашого бізнесу?

                    h3.order-section__subtitle Залишайте заявку вже зараз і ми зв’яжемось з Вами сьогодні.
                    
                    p.order-section__text Пам’ятайте, що найкраще  - це те, який відповідає вашим унікальним потребам і вимогам.
                    
                    button.button.order-section__button(type="button" data-modal="modal-callback") Призначити зустріч

                picture.order-section__picture.animation-fade
                    img.order-section__img(src="img/order-img.webp" srcset="img/order-img@2x.webp 2x" loading="lazy" width="1098" height="670" alt="alt")
