section.partners-section
    .container
        .caption.animation-title.partners-section__caption
            .caption__inner
                .caption__bg-text Наші Партнери
                h2.caption__title Наші Партнери
            p.caption__descr Нам довіряють компанії з України, Європи та США

    .container.container--fluid
        .swiper.partners-slider
            .swiper-wrapper.partners-slider__wrapper
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-1.webp" srcset="img/partners/partner-1@2x.webp 2x" loading="lazy" width="202" height="55" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.1")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-2.webp" srcset="img/partners/partner-2@2x.webp 2x" loading="lazy" width="178" height="58" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.2")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-3.webp" srcset="img/partners/partner-3@2x.webp 2x" loading="lazy" width="111" height="111" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.3")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-4.webp" srcset="img/partners/partner-4@2x.webp 2x" loading="lazy" width="172" height="40" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.4")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-5.webp" srcset="img/partners/partner-5@2x.webp 2x" loading="lazy" width="183" height="56" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.5")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-6.webp" srcset="img/partners/partner-6@2x.webp 2x" loading="lazy" width="168" height="42" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0.6")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-7.webp" srcset="img/partners/partner-7@2x.webp 2x" loading="lazy" width="116" height="110" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-1.webp" srcset="img/partners/partner-1@2x.webp 2x" loading="lazy" width="202" height="55" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-2.webp" srcset="img/partners/partner-2@2x.webp 2x" loading="lazy" width="178" height="58" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-3.webp" srcset="img/partners/partner-3@2x.webp 2x" loading="lazy" width="111" height="111" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-4.webp" srcset="img/partners/partner-4@2x.webp 2x" loading="lazy" width="172" height="40" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-5.webp" srcset="img/partners/partner-5@2x.webp 2x" loading="lazy" width="183" height="56" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-6.webp" srcset="img/partners/partner-6@2x.webp 2x" loading="lazy" width="168" height="42" alt="alt")
                
                .swiper-slide.partners-slider__slide.animation-fade(data-delay="0")
                    picture.partners-slider__picture
                        img.partners-slider__img(src="img/partners/partner-7.webp" srcset="img/partners/partner-7@2x.webp 2x" loading="lazy" width="116" height="110" alt="alt")

            button.swiper-nav-prev.partners-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.partners-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-scrollbar.partners-slider__scrollbar
