section.products-section
    .container
        .caption.animation-title.products-section__caption
            .caption__inner
                .caption__bg-text Продукція
                h2.caption__title Продукція

    .container.container--fluid
        .swiper.products-slider
            .swiper-wrapper.products-slider__wrapper
                .swiper-slide.products-slider__slide.animation-fade(data-delay="0")
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="441" height="284" alt="alt")
                        
                        .product-card__content
                            h3.product-card__title WPSP-22S
                            p.product-card__descr Standard Voltages 380 – 415 Volts 3 Phase 50/60HZ

                            .product-card__buttons
                                a.button.product-card__button(href="#") Залишити заявку
                                a.button.button--white.product-card__button(href="#") Детальніше
                
                .swiper-slide.products-slider__slide.animation-fade(data-delay="0.2")
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="441" height="284" alt="alt")
                        
                        .product-card__content
                            h3.product-card__title WPSP-22S
                            p.product-card__descr Standard Voltages 380

                            .product-card__buttons
                                a.button.product-card__button(href="#") Залишити заявку
                                a.button.button--white.product-card__button(href="#") Детальніше
                    
                .swiper-slide.products-slider__slide.animation-fade(data-delay="0.4")
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="441" height="284" alt="alt")
                        
                        .product-card__content
                            h3.product-card__title WPSP-22S
                            p.product-card__descr Standard Voltages 380 – 415 Volts 3 Phase 50/60HZ

                            .product-card__buttons
                                a.button.product-card__button(href="#") Залишити заявку
                                a.button.button--white.product-card__button(href="#") Детальніше
                
                .swiper-slide.products-slider__slide.animation-fade(data-delay="0.6")
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="441" height="284" alt="alt")
                        
                        .product-card__content
                            h3.product-card__title WPSP-22S
                            p.product-card__descr Standard Voltages 380 – 415 Volts 3 Phase 50/60HZ

                            .product-card__buttons
                                a.button.product-card__button(href="#") Залишити заявку
                                a.button.button--white.product-card__button(href="#") Детальніше

                .swiper-slide.products-slider__slide.animation-fade(data-delay="0")
                    article.product-card
                        a.product-card__link(href="#") 
                            picture.product-card__picture
                                img.product-card__img(src="img/product-img.webp" srcset="img/product-img@2x.webp 2x" loading="lazy" width="441" height="284" alt="alt")
                        
                        .product-card__content
                            h3.product-card__title WPSP-22S
                            p.product-card__descr Standard Voltages 380 – 415 Volts 3 Phase 50/60HZ

                            .product-card__buttons
                                a.button.product-card__button(href="#") Залишити заявку
                                a.button.button--white.product-card__button(href="#") Детальніше

            button.swiper-nav-prev.products-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.products-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-scrollbar.products-slider__scrollbar
