section.profit-section
    .container
        .caption.animation-title.profit-section__caption
            .caption__inner
                .caption__bg-text Чому вигідно з нами працювати?
                h2.caption__title Чому вигідно з нами працювати?

    .container.container--fluid
        .swiper.about-slider
            .swiper-wrapper.about-slider__wrapper
                .swiper-slide.about-slider__slide.animation-fade
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="54" height="60")
                                    use(xlink:href="img/sprite.svg#about-1")
                            
                            h3.about-card__title Інноваційні технології
                            p.about-card__text У нас ви знайдете найпередовіші рішення для вашого будинку чи бізнесу, що забезпечують ефективність та надійність.
                
                .swiper-slide.about-slider__slide.animation-fade(data-delay="0.2")
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="60" height="60")
                                    use(xlink:href="img/sprite.svg#about-2")

                            h3.about-card__title Широкий вибір
                            p.about-card__text Наш асортимент включає різноманітні альтернативні джерела енергії, які готові задовольнити будь-які вимоги клієнтів.
                
                .swiper-slide.about-slider__slide.animation-fade(data-delay="0.4")
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="52" height="60")
                                    use(xlink:href="img/sprite.svg#about-3")

                            h3.about-card__title Якість та гарантія
                            p.about-card__text Ми впевнені у надійності нашого обладнання, тому надаємо довгострокову гарантію на кожну одиницю.
                
                .swiper-slide.about-slider__slide.animation-fade
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="60" height="60")
                                    use(xlink:href="img/sprite.svg#about-4")

                            h3.about-card__title Індивідуальний підхід
                            p.about-card__text Кожен клієнт отримує персоналізований підхід та консультації від наших експертів для оптимального вибору обладнання.
                
                .swiper-slide.about-slider__slide.animation-fade(data-delay="0.2")
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="50" height="60")
                                    use(xlink:href="img/sprite.svg#about-5")

                            h3.about-card__title Сучасне обладнання
                            p.about-card__text Ваше обладнання буде встановлене за допомогою передових методів, що забезпечують оптимальну ефективність.
                
                .swiper-slide.about-slider__slide.animation-fade(data-delay="0.4")
                    article.about-card.about-card--light
                        .about-card__content
                            .about-card__pic
                                svg.about-card__icon(width="58" height="58")
                                    use(xlink:href="img/sprite.svg#about-6")

                            h3.about-card__title Безпека та надійність
                            p.about-card__text Ваші інтереси та безпека на першому місці – кожна деталь установки контролюється та перевіряється нашими експертами.

            .swiper-scrollbar.about-slider__scrollbar