section.seo-section
    .container.container--fluid.seo-section__container
        .seo-section__inner
            picture.seo-section__picture.animation-fade
                img.seo-section__img(src="img/seo-img.webp" srcset="img/seo-img@2x.webp 2x" loading="lazy" width="965" height="474" alt="alt")

            .seo-section__content
                .caption.caption--black.animation-title.seo-section__caption
                    .caption__inner
                        .caption__bg-text Seo текст
                        h2.caption__title Seo текст
                
                .seo.animation-down
                    .seo__text
                        p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем. Наша мета – допомогти клієнтам перейти на відновлювані джерела енергії, забезпечуючи високий рівень сервісу та підтримки на кожному етапі взаємодії. В основі нашої роботи лежать чотири ключові напрями: продаж обладнання, встановлення, обслуговування та підтримка клієнтів.
                        p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем. Наша мета – допомогти клієнтам перейти на відновлювані джерела енергії, забезпечуючи високий рівень сервісу та підтримки на кожному етапі взаємодії. В основі нашої роботи лежать чотири ключові напрями: продаж обладнання, встановлення, обслуговування та підтримка клієнтів.
                        p Компанія E-holder – це ваш надійний партнер у світі альтернативних джерел енергії. Ми спеціалізуємося на наданні комплексних рішень для створення екологічно чистих та економічно ефективних енергетичних систем. Наша мета – допомогти клієнтам перейти на відновлювані джерела енергії, забезпечуючи високий рівень сервісу та підтримки на кожному етапі взаємодії. В основі нашої роботи лежать чотири ключові напрями: продаж обладнання, встановлення, обслуговування та підтримка клієнтів.
                    
                    button.seo__toggle(type="button") Детальніше
                        svg.seo__toggle-arrow(width="14" height="7")
                            use(xlink:href="img/sprite.svg#dropdown-arrow")
                            