section#services-section.services-section
    .container
        .caption.animation-title.services-section__caption
            .caption__inner
                .caption__bg-text Послуги
                h2.caption__title Послуги

    .container.container--fluid
        .swiper.services-slider
            .swiper-wrapper.services-slider__wrapper
                .swiper-slide.services-slider__slide.animation-fade(data-delay="0")
                    article.service-card
                        picture.service-card__picture
                            img.service-card__img(src="img/services/service-1.webp" srcset="img/services/service-1@2x.webp 2x" loading="lazy" width="456" height="671" alt="alt")
                        
                        h3.service-card__title Продаж обладнання

                        .service-card__hidden
                            .service-card__content
                                h3.service-card__subtitle Продаж обладнання
                                
                                .service-card__text
                                    p Компанія E-holder пропонує широкий асортимент обладнання для альтернативних джерел енергії, які допоможуть вам скоротити витрати на електроенергію та зробити ваш будинок чи бізнес більш екологічно чистим та енергоефективним. 
                                
                                a.button.service-card__button(href="#") Детальніше 
                
                .swiper-slide.services-slider__slide.animation-fade(data-delay="0.2")
                    article.service-card
                        picture.service-card__picture
                            img.service-card__img(src="img/services/service-2.webp" srcset="img/services/service-2@2x.webp 2x" loading="lazy" width="456" height="671" alt="alt")
                        
                        h3.service-card__title Встановлення обладнання

                        .service-card__hidden
                            .service-card__content
                                h3.service-card__subtitle Встановлення обладнання
                                
                                .service-card__text
                                    p Компанія E-holder пропонує широкий асортимент обладнання для альтернативних джерел енергії, які допоможуть вам скоротити витрати на електроенергію та зробити ваш будинок чи бізнес більш екологічно чистим та енергоефективним. 
                                
                                a.button.service-card__button(href="#") Детальніше 
                
                .swiper-slide.services-slider__slide.animation-fade(data-delay="0.4")
                    article.service-card
                        picture.service-card__picture
                            img.service-card__img(src="img/services/service-3.webp" srcset="img/services/service-3@2x.webp 2x" loading="lazy" width="456" height="671" alt="alt")
                        
                        h3.service-card__title Обслуговування обладнання

                        .service-card__hidden
                            .service-card__content
                                h3.service-card__subtitle Обслуговування обладнання
                                
                                .service-card__text
                                    p Компанія E-holder пропонує широкий асортимент обладнання для альтернативних джерел енергії, які допоможуть вам скоротити витрати на електроенергію та зробити ваш будинок чи бізнес більш екологічно чистим та енергоефективним. 
                                
                                a.button.service-card__button(href="#") Детальніше 

                .swiper-slide.services-slider__slide.animation-fade(data-delay="0.6")
                    article.service-card
                        picture.service-card__picture
                            img.service-card__img(src="img/services/service-4.webp" srcset="img/services/service-4@2x.webp 2x" loading="lazy" width="456" height="671" alt="alt")
                        
                        h3.service-card__title Підтримка наших клієнтів

                        .service-card__hidden
                            .service-card__content
                                h3.service-card__subtitle Підтримка наших клієнтів
                                
                                .service-card__text
                                    p Компанія E-holder пропонує широкий асортимент обладнання для альтернативних джерел енергії, які допоможуть вам скоротити витрати на електроенергію та зробити ваш будинок чи бізнес більш екологічно чистим та енергоефективним. 
                                
                                a.button.service-card__button(href="#") Детальніше 

            button.swiper-nav-prev.services-slider__prev(type="button" aria-label="Previous slide")
                svg.swiper-nav-prev__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-left")

            button.swiper-nav-next.services-slider__next(type="button" aria-label="Next slide")
                svg.swiper-nav-next__icon(width="11" height="17")
                    use(xlink:href="img/sprite.svg#arrow-right")

            .swiper-scrollbar.services-slider__scrollbar
