section.steps-section
    .steps-section__inner
        .container
            .caption.caption--black.animation-title.steps-section__caption
                .caption__inner
                    .caption__bg-text Як відбувається робота?
                    h2.caption__title Як відбувається робота?

            ul.steps-section__list
                li.steps-section__item.animation-fade(data-delay="0")
                    article.step-card
                        p.step-card__text Отримуємо запит (по телефону, в офісі, e-mail, skype)
                        .step-card__number 01

                li.steps-section__item.animation-fade(data-delay="0.2")
                    article.step-card
                        p.step-card__text Консультуємо, уточнюємо деталі, розраховуємо вартість
                        .step-card__number 02

                li.steps-section__item.animation-fade(data-delay="0.4")
                    article.step-card
                        p.step-card__text Оформляємо замовлення (договір або 50% передоплата)
                        .step-card__number 03
                
                li.steps-section__item.animation-fade(data-delay="0.6")
                    article.step-card
                        p.step-card__text Отримайте замовлення будь-яким зручним для вас способом
                        .step-card__number 04
