section.success-section.parallax-section
    picture.success-section__bg.parallax-section__bg
        source(srcset="img/success-bg-mobile@2x.webp 2x, img/success-bg-mobile.webp" width="375" height="539" media="(max-width: 575.98px)")
        img.success-section__bg-img(src="img/success-bg.webp" srcset="img/success-bg@2x.webp 2x" width="1920" height="811" alt="alt")

    .container.success-section__container
        .success-section__content
            h1.success-section__title.animation-down Ваша заявка 
                span.yellow-color успішно прийнята
            
            h2.success-section__subtitle Найближчим часом 
                span.yellow-color Ми з Вами зв'яжемось для консультації
                |  по вашому питанню.
            
            p.success-section__text Дякуємо, ви зробили правильний вибір!

            p.success-section__signature З повагою, Команда E-holder.com

            a.button.success-section__button(href="#") На головну
